@charset "UTF-8";
/* フォント */
/* 色 */
/* 背景色 */
/* 高さ */
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "M PLUS 1p", sans-serif;
  color: #3C2A10;
  line-height: 23.76px;
  overflow-x: hidden;
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, button:hover {
  opacity: 0.6;
}

/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/* ヘッダーのレイアウト */
.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 0 39px;
  position: relative;
}
@media (min-width: 600px) {
  .l-header {
    padding: 40px 0 38px;
  }
}
@media (min-width: 1025px) {
  .l-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 66px 0 67px;
  }
}

/* メインのレイアウト */
.l-main, .l-main--single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-main--single {
  justify-content: flex-start;
}

/* サイドバーのレイアウト */
.l-sidebar {
  position: fixed;
  z-index: 10;
  right: -87.47%;
  width: 87.47%;
  height: 100%;
  padding: 178px 0 178px 46px;
  overflow-y: auto;
  transition: all 0.5s ease-out;
}
@media (min-width: 600px) {
  .l-sidebar {
    right: -44.02%;
    width: 44.02%;
  }
}
@media (min-width: 1025px) {
  .l-sidebar {
    position: static;
    width: 100%;
    padding: 84px 0 84px 12.5%;
    transition: none;
  }
}
.l-sidebar.is-open {
  right: 0;
}

body.is-open {
  position: fixed;
}

/* フッターのレイアウト */
.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}
@media (min-width: 600px) {
  .l-footer {
    padding: 30px 0 24px;
  }
}
@media (min-width: 1025px) {
  .l-footer {
    padding: 41px 0 27px;
  }
}

/* サイト全体のグリッドフレームレイアウト */
.c-header__grid {
  grid-row: 1;
  grid-column: 1/3;
}
@media (min-width: 1025px) {
  .c-header__grid {
    grid-row: 1;
    grid-column: 1;
  }
}

.c-main__grid {
  grid-row: 2;
  grid-column: 1/3;
}
@media (min-width: 1025px) {
  .c-main__grid {
    grid-row: 2;
    grid-column: 1;
  }
}

.c-sidebar__grid {
  grid-row: 1/4;
  grid-column: 2;
}
@media (min-width: 1025px) {
  .c-sidebar__grid {
    grid-row: 1/3;
    grid-column: 2;
  }
}

.c-footer__grid {
  grid-row: 3;
  grid-column: 1/3;
}
@media (min-width: 1025px) {
  .c-footer__grid {
    grid-column: 1/3;
  }
}

.c-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.c-bold {
  font-weight: 700;
}

.c-readerText {
  display: none;
}

.c-button--gray {
  background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
  border: 1px solid #707070;
}

.c-button--white {
  background-color: #FFFFFF;
  border-radius: 25px;
}

.c-input {
  border-radius: 10px;
  border: 1px solid #707070;
}

/* メインビジュアルの背景画像・フレックス設定 */
.c-mainVisual {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.c-mainVisual--left {
  background-position: left;
  background-size: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 600px) {
  .c-mainVisual--left {
    background-size: cover;
    flex-direction: unset;
    align-items: center;
    justify-content: unset;
  }
}

/* メインのラッパー部分の左右余白 */
.c-wrapper {
  width: 89%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .c-wrapper {
    width: 91%;
  }
}
@media (min-width: 1025px) {
  .c-wrapper {
    width: 85%;
  }
}

/* 背景画像 */
.c-background__image {
  background-position: center;
  background-size: cover;
}

/* ページネーションのページナンバー */
.c-pageNamber, .c-pageNamber--this {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border: 1px solid #707070;
}
.c-pageNamber:last-child, .c-pageNamber--this:last-child {
  margin-right: 0;
}
.c-pageNamber:hover, .c-pageNamber--this:hover {
  background-color: rgba(112, 112, 112, 0.8);
  color: #FFFFFF;
}

.c-pageNamber--this {
  background-color: #3C2A10;
  color: #FFFFFF;
  pointer-events: none;
}

.c-margin--top {
  margin-top: 30px;
}
@media (min-width: 600px) {
  .c-margin--top {
    margin-top: 60px;
  }
}

/* アンダーラインのあるリンク */
.c-link {
  text-decoration: underline;
}

.c-list--ordered {
  list-style-type: decimal;
  list-style-position: inside;
}

/* サイト全体のフレームレイアウト */
.p-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 215px 1fr 150px;
  grid-template-columns: 13% 87%;
}
@media (min-width: 600px) {
  .p-container {
    grid-template-rows: 217px 1fr 149px;
    grid-template-columns: 56% 44%;
  }
}
@media (min-width: 1025px) {
  .p-container {
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 80% 20%;
  }
}

/* ヘッダーの背景色 */
.p-header {
  background-color: #FFF8EF;
}
.p-header__menu {
  color: #707070;
  font-size: 2rem;
  width: 51px;
  line-height: 1.15;
  position: absolute;
  top: 8px;
  right: 22px;
}
@media (min-width: 600px) {
  .p-header__menu {
    font-size: 3.4rem;
    width: 87px;
    line-height: 1.17;
    position: absolute;
    top: 20px;
    right: 35px;
  }
}
@media (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}
.p-header__logo {
  font-size: 4rem;
  color: #707070;
  width: 203px;
  line-height: 1.17;
}
@media (min-width: 600px) {
  .p-header__logo {
    padding: 3px 0;
  }
}
@media (min-width: 1025px) {
  .p-header__logo {
    font-size: 6.4rem;
    width: 325px;
    margin-left: 65px;
    padding: 4.5px 0;
  }
}

/* サイドバー */
.p-sidebar {
  background: #F2EDE9;
  color: #707070;
}
.p-sidebar__closeButton {
  width: 32px;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 11px;
}
@media (min-width: 600px) {
  .p-sidebar__closeButton {
    height: 37px;
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 1025px) {
  .p-sidebar__closeButton {
    display: none;
  }
}
.p-sidebar__closeButton::before, .p-sidebar__closeButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 36px;
  background: #707070;
}
@media (min-width: 600px) {
  .p-sidebar__closeButton::before, .p-sidebar__closeButton::after {
    height: 37px;
  }
}
.p-sidebar__closeButton::before {
  transform: translate(-50%, -50%) rotate(45.25deg);
}
.p-sidebar__closeButton::after {
  transform: translate(-50%, -50%) rotate(-45.25deg);
}
.p-sidebar__closeButton > span {
  font-size: 0;
}
.p-sidebar__menu {
  display: none;
  font-size: 3.4rem;
  line-height: 1.17;
}
@media (min-width: 1025px) {
  .p-sidebar__menu {
    display: block;
  }
}

@media (min-width: 1025px) {
  .p-menu {
    margin-top: 90px;
  }
}
.p-menu > li {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (min-width: 1025px) {
  .p-menu > li {
    font-size: clamp(2rem, 1.5vw, 2.4rem);
  }
}
.p-menu > li:not(:first-child) {
  margin-top: 60px;
}
@media (min-width: 600px) {
  .p-menu > li:not(:first-child) {
    margin-top: 48px;
  }
}
.sub-menu {
  margin: 40px 0 0 20px;
}
@media (min-width: 600px) {
  .sub-menu {
    margin: 32px 0 0 20px;
  }
}
@media (min-width: 1025px) {
  .sub-menu {
    margin: clamp(30px, 2vw, 32px) 0 0 6.2%;
  }
}
.sub-menu > li {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: clamp(18px, 1.05vw, 20px);
}
@media (min-width: 1025px) {
  .sub-menu > li {
    font-size: clamp(1.4rem, 1.2vw, 2rem);
  }
}
.sub-menu > li:last-child {
  margin-bottom: 0;
}

/* サイドバー出現時のオーバーレイ */
.p-overlay {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}
.p-overlay.is-active {
  visibility: visible;
}

/* 検索フォーム */
.p-searchForm {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 600px) {
  .p-searchForm {
    margin-top: 38px;
  }
}
@media (min-width: 1025px) {
  .p-searchForm {
    margin-top: 0;
    margin-right: 31px;
  }
}
.p-searchForm__submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  color: #707070;
  font-size: 16px;
  font-weight: 700;
}
.p-searchForm__submit:hover {
  opacity: 0.6;
}

.p-searchBox {
  position: relative;
}
.p-searchBox__input {
  width: 57.6vw;
  height: 46px;
  padding-left: 48px;
  background: #FFFFFF;
  margin-right: 16px;
}
@media (min-width: 600px) {
  .p-searchBox__input {
    width: 47.4vw;
    min-width: 280px;
    margin-right: 14px;
  }
}
@media (min-width: 1025px) {
  .p-searchBox__input {
    width: 20.6vw;
  }
}
.p-searchBox__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 24px;
  height: 24px;
}

/* メインの背景色 */
.p-main {
  background-color: #FFFDFB;
}

/* フロントページ ブランチメニュー */
.p-branchMenu {
  padding: 20px 0 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 600px) {
  .p-branchMenu {
    padding: 40px 0;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 5%;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu {
    padding-top: 8%;
    padding-bottom: 9%;
  }
}
.p-branchMenu__list {
  min-height: 642px;
  width: 100%;
  padding: 13px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .p-branchMenu__list {
    min-height: 681px;
    padding: 14px 0 16px;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__list {
    min-height: 1197px;
    padding: 24px 0 16px;
  }
}
.p-branchMenu__list.--takeOut {
  background-image: url(../images/takeOut.jpg);
}
.p-branchMenu__list.--takeOut .p-branchMenu__title {
  color: #EAEAEA;
}
.p-branchMenu__list.--eatIn {
  background-image: url(../images/eatIn.jpg);
}
.p-branchMenu__title {
  font-size: 4.1rem;
  line-height: 1.18;
  margin-left: 15px;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 600px) {
  .p-branchMenu__title {
    font-size: 4.4rem;
    margin-left: 11px;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__title {
    font-size: 8rem;
    margin-left: 10px;
  }
}
.p-branchMenu__title::after {
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -19px;
}
@media (min-width: 600px) {
  .p-branchMenu__title::after {
    width: 36px;
    bottom: -26px;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__title::after {
    width: 63px;
    bottom: -43px;
  }
}
.p-branchMenu__about {
  margin: 190px 16px 0;
}
@media (min-width: 600px) {
  .p-branchMenu__about {
    margin: 250px 16px 0;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__about {
    margin: 400px 16px 0;
  }
}
.p-branchMenu__about .p-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1025px) {
  .p-branchMenu__about .p-content {
    padding: 20px;
    margin-bottom: 20px;
  }
}
.p-branchMenu__about .p-content:last-child {
  margin-bottom: 0;
}
.p-branchMenu__about .p-content__title {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 8px;
}
@media (min-width: 600px) {
  .p-branchMenu__about .p-content__title {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 16px;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__about .p-content__title {
    margin-bottom: 18px;
  }
}
.p-branchMenu__about .p-content__text {
  transition: all 0.4s ease-in;
}
@media (min-width: 600px) {
  .p-branchMenu__about .p-content__text {
    font-size: 1.4rem;
  }
}
@media (min-width: 1025px) {
  .p-branchMenu__about .p-content__text {
    font-size: inherit;
  }
}

/* フッターの背景色 */
.p-footer {
  background-image: url(../images/footer.png);
}
.p-footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
}
@media (min-width: 600px) {
  .p-footer__nav {
    height: 30px;
  }
}
.p-footer__nav li {
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 0 7px;
}
@media (min-width: 600px) {
  .p-footer__nav li {
    font-size: 2rem;
  }
}
.p-footer__nav li:last-child {
  border-left: 2px solid;
}
.p-footer__copy {
  font-size: 1.4rem;
  color: #FFFFFF;
  height: 21px;
  margin-top: 70px;
}
@media (min-width: 600px) {
  .p-footer__copy {
    margin-top: 44px;
  }
}
@media (min-width: 1025px) {
  .p-footer__copy {
    margin-top: 31px;
  }
}

/* メインビジュアル */
.p-mainVisual, .p-mainVisual--single, .p-mainVisual--page, .p-mainVisual--archive {
  background-image: url(../images/mainVisual-front.jpg);
  height: 285px;
}
@media (min-width: 1025px) {
  .p-mainVisual, .p-mainVisual--single, .p-mainVisual--page, .p-mainVisual--archive {
    height: 27.6vw;
    min-height: 285px;
  }
}
.p-mainVisual__title, .p-mainVisual--single__title, .p-mainVisual--page__title, .p-mainVisual--archive__title {
  font-size: 3.6rem;
  color: #FFFFFF;
  line-height: 1.48;
  margin-left: 25px;
  transition: all 0.4s ease-in;
}
@media (min-width: 600px) {
  .p-mainVisual__title, .p-mainVisual--single__title, .p-mainVisual--page__title, .p-mainVisual--archive__title {
    margin-left: 86px;
  }
}
@media (min-width: 1025px) {
  .p-mainVisual__title, .p-mainVisual--single__title, .p-mainVisual--page__title, .p-mainVisual--archive__title {
    font-size: 4rem;
    line-height: 1.475;
  }
}

.p-mainVisual--archive {
  background-image: url(../images/mainVisual-archive.jpg);
}
@media (min-width: 1025px) {
  .p-mainVisual--archive {
    height: 239px;
    min-height: inherit;
  }
}
.p-mainVisual--archive::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p-mainVisual--archive__title {
  line-height: 1.173;
  padding-bottom: 6px;
  margin-left: 37px;
  z-index: 1;
}
@media (min-width: 600px) {
  .p-mainVisual--archive__title {
    font-size: 6rem;
    line-height: 1.1;
  }
}
.p-mainVisual--archive .c-bold {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 12px 0 0 37px;
  z-index: 1;
}
@media (min-width: 600px) {
  .p-mainVisual--archive .c-bold {
    line-height: 1.5;
    margin: 0 0 0 19px;
  }
}

.p-mainVisual--single, .p-mainVisual--page {
  background-image: url(../images/mainVisual-single.jpg);
  background-size: 150%;
  height: 225px;
}
@media (min-width: 600px) {
  .p-mainVisual--single, .p-mainVisual--page {
    height: 60vw;
    max-height: 500px;
  }
}
@media (min-width: 1025px) {
  .p-mainVisual--single, .p-mainVisual--page {
    height: 500px;
    background-size: cover;
  }
}
@media (min-width: 600px) {
  .p-mainVisual--single__title, .p-mainVisual--page__title {
    font-size: 6rem;
    line-height: 1.498;
  }
}

.p-mainVisual--page {
  background-image: url(../images/mainVisual-page.jpg);
}
.p-mainVisual--page__title {
  margin-left: 45px;
}
@media (min-width: 600px) {
  .p-mainVisual--page__title {
    margin-left: 86px;
  }
}

/* フロントページ アクセス */
.p-access {
  position: relative;
  background-color: #000000;
  background-image: url(../images/map.jpg);
  width: 100%;
}
.p-access__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 600px) {
  .p-access__overlay {
    height: 100%;
  }
}
@media (min-width: 1025px) {
  .p-access__overlay {
    width: 61%;
  }
}
.p-access__inner {
  min-height: 691px;
  padding: 42px 0 57px;
}
@media (min-width: 600px) {
  .p-access__inner {
    min-height: 415px;
    padding: 42px 0 40px;
  }
}
@media (min-width: 1025px) {
  .p-access__inner {
    min-height: 649px;
    padding: 86px 0 75px;
  }
}
.p-access__title {
  position: relative;
  font-size: 3rem;
  line-height: 1.5;
  color: #FFFFFF;
  margin-left: 42px;
}
@media (min-width: 1025px) {
  .p-access__title {
    font-size: 3.6rem;
    margin-left: 119px;
  }
}
.p-access__title::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -15px;
}
@media (min-width: 1025px) {
  .p-access__title::after {
    bottom: -51px;
  }
}
.p-access__text {
  position: relative;
  font-size: 1.4rem;
  color: #FFFFFF;
  line-height: 33px;
  margin: 29px 40px 0;
}
@media (min-width: 600px) {
  .p-access__text {
    margin: 29px 29px 0 42px;
  }
}
@media (min-width: 1025px) {
  .p-access__text {
    font-size: inherit;
    margin: 109px 134px 0 119px;
  }
}
.p-access .p-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* アーカイブ・アーカイブサーチページ メインコンテンツンツ幅・余白調整 */
@media (min-width: 600px) {
  .p-archive {
    min-width: 560px;
  }
}
@media (min-width: 1025px) {
  .p-archive {
    min-width: 756px;
  }
}
.p-archive__main {
  padding: 32px 0 62px;
}
@media (min-width: 600px) {
  .p-archive__main {
    padding: 39px 0 107px 0;
  }
}
@media (min-width: 600px) and (min-width: 1025px) {
  .p-archive__main {
    padding: 63px 0 150px;
  }
}

/* アーカイブ メニューカード */
.p-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3C2B1C;
}
@media (min-width: 600px) {
  .p-card {
    flex-direction: row;
  }
}
.p-card__menu {
  margin-top: 19px;
}
@media (min-width: 600px) {
  .p-card__menu {
    margin-top: 37px;
  }
}
@media (min-width: 1025px) {
  .p-card__menu {
    margin-top: 70px;
  }
}
.p-card__menuList:not(:last-child) {
  margin-bottom: 21px;
}
@media (min-width: 1025px) {
  .p-card__menuList:not(:last-child) {
    margin-bottom: 30px;
  }
}
.p-card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .p-card__image {
    width: 50%;
    -o-object-position: 50% center;
       object-position: 50% center;
  }
}
.p-card__content {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 32.5px 17px 43.7px;
}
@media (min-width: 600px) {
  .p-card__content {
    gap: clamp(30px, 2.5vw, 60px);
    padding: 31px 59px 40px 34.7px;
  }
}
@media (min-width: 1025px) {
  .p-card__content {
    padding: clamp(31px, 1.5vw, 56px) clamp(59px, 1.5vw, 104px) clamp(40px, 1.5vw, 60px) clamp(34.7px, 1.5vw, 63px);
  }
}
.p-card__title {
  font-size: 2rem;
}
@media (min-width: 600px) {
  .p-card__title {
    font-size: clamp(1.5rem, 2.3vw, 2rem);
  }
}
@media (min-width: 1025px) {
  .p-card__title {
    font-size: 20px;
    line-height: 1.48;
  }
}
@media (min-width: 1550px) {
  .p-card__title {
    font-size: 3.6rem;
  }
}
.p-card__title-sub {
  margin-top: 21px;
}
@media (min-width: 600px) {
  .p-card__title-sub {
    font-size: clamp(1.2rem, 2vw, 2.4rem);
  }
}
@media (min-width: 1025px) {
  .p-card__title-sub {
    font-size: 1.6rem;
    margin-top: 44px;
  }
}
@media (min-width: 1550px) {
  .p-card__title-sub {
    font-size: 2.4rem;
  }
}
.p-card__text {
  margin-top: 7px;
}
@media (min-width: 600px) {
  .p-card__text {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (min-width: 1025px) {
  .p-card__text {
    margin-top: 13px;
  }
}
.p-card__button {
  display: inline-block;
  color: #707070;
  line-height: 1;
  padding: 13px 42px;
}
@media (min-width: 600px) {
  .p-card__button {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
  }
}
@media (min-width: 1025px) {
  .p-card__button {
    padding: 22px 19%;
  }
}

/* アーカイブ・アーカイブサーチページ イントロダクション */
.p-introduction__title {
  font-size: 2.8rem;
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  .p-introduction__title {
    font-size: 3.6rem;
    margin-bottom: 20px;
  }
}

/* ページネーション */
.p-pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 32px;
  color: #707070;
}
@media (min-width: 600px) {
  .p-pagenation {
    height: 35px;
    justify-content: space-around;
  }
}
@media (min-width: 767px) {
  .p-pagenation {
    justify-content: center;
    gap: 15px;
    margin: 0 0 64px;
  }
}
.p-pagenation__notspList {
  display: none;
}
@media (min-width: 600px) {
  .p-pagenation__notspList {
    display: inline-block;
  }
}
.p-pagenation__link {
  display: inline-block;
  position: relative;
  top: 0;
  height: 35px;
}
@media (min-width: 600px) {
  .p-pagenation__link {
    font-size: 0;
    width: 18px;
    top: -10px;
    margin: 0 5px;
  }
}
.p-pagenation__link::before, .p-pagenation__link::after {
  content: "";
  border-top: solid 1px #707070;
  border-left: solid 1px #707070;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
}
@media (min-width: 600px) {
  .p-pagenation__link::before, .p-pagenation__link::after {
    top: 10px;
  }
}
.p-pagenation__link.-pre::before, .p-pagenation__link.-pre::after {
  transform: rotate(-45deg);
}
.p-pagenation__link.-pre::before {
  left: -30px;
}
@media (min-width: 600px) {
  .p-pagenation__link.-pre::before {
    left: 0;
  }
}
.p-pagenation__link.-pre::after {
  left: -20px;
}
@media (min-width: 600px) {
  .p-pagenation__link.-pre::after {
    left: 10px;
  }
}
.p-pagenation__link.-next::before, .p-pagenation__link.-next::after {
  transform: rotate(135deg);
}
.p-pagenation__link.-next::before {
  right: -30px;
}
@media (min-width: 600px) {
  .p-pagenation__link.-next::before {
    right: 0px;
  }
}
.p-pagenation__link.-next::after {
  right: -20px;
}
@media (min-width: 600px) {
  .p-pagenation__link.-next::after {
    right: 10px;
  }
}

/* シングル・ページページのアーティクル */
.p-article {
  padding: 34px 0 69px;
}
@media (min-width: 600px) {
  .p-article {
    padding: 60px 0 149px;
  }
}
@media (min-width: 1025px) {
  .p-article {
    padding: 63px 0 274px;
  }
}
.p-article h2 {
  font-size: 2.8rem;
}
@media (min-width: 600px) {
  .p-article h2 {
    font-size: 3.6rem;
  }
}
.p-article h3 {
  font-size: 2.4rem;
}
@media (min-width: 600px) {
  .p-article h3 {
    font-size: 2.8rem;
  }
}
.p-article h4, .p-article h5, .p-article h6 {
  font-size: 2rem;
}
.p-article__image {
  width: 100%;
  height: 33vw;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}
.p-article__image--center {
  width: 79.9%;
  height: 49.5vw;
  max-width: 581px;
  max-height: 358px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  display: block;
  margin: 30px auto;
}
@media (min-width: 600px) {
  .p-article__image--center {
    margin: 60px auto;
  }
}
@media (min-width: 600px) {
  .p-article__list {
    margin-left: 50px;
  }
}
.p-article__sublist {
  margin: 17px 18px;
}
.p-article__codeBlock {
  background-color: #F5F5F5;
  padding: 50px 0 50px 50px;
}
.p-article__codeBlock__code {
  font-family: "M PLUS 1p", sans-serif;
}
.p-article__button {
  width: 100%;
  height: 24.1vw;
  border-radius: 20px;
}
@media (min-width: 600px) {
  .p-article__button {
    width: 60.1%;
    height: 14.5vw;
  }
}
@media (min-width: 1025px) {
  .p-article__button {
    width: 31.7%;
    height: 7.6vw;
  }
}
@media (min-width: 600px) {
  .p-article__text {
    font-size: 2.4rem;
  }
}

/* シングル・ページページのfigureタグ */
.p-figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3%;
}
.p-figure__image {
  width: 43%;
  height: 23.7vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.p-figure.--right {
  flex-direction: row-reverse;
}

/* シングル・ページページのギャラリー */
.p-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  .p-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .p-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-gallery__image {
  width: 100%;
  height: 61.2vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media (min-width: 600px) {
  .p-gallery__image {
    width: 100%;
    height: auto;
  }
}

/* 引用ブロックのスタイリング */
.p-quote {
  background-color: #F5F5F5;
  padding: 30px 18px;
}
@media (min-width: 600px) {
  .p-quote {
    padding: 50px 60px;
  }
}
.p-quote__cite .c-link {
  color: #4A6C9B;
}

/* シングル・ページページの表 */
.p-table {
  width: 100%;
  border-collapse: collapse;
}
.p-table__row, .p-table__column {
  border: solid 1px #707070;
}
.p-table__row {
  height: 77px;
}
.p-table__column {
  padding: 26.5px 24px;
}
@media (min-width: 600px) {
  .p-table__column {
    padding: 26.5px 30px;
  }
}
.p-table__column.--1 {
  width: 41.7%;
}
@media (min-width: 600px) {
  .p-table__column.--1 {
    width: 30%;
  }
}
@media (min-width: 1025px) {
  .p-table__column.--1 {
    width: 31.7%;
  }
}
/*# sourceMappingURL=style.css.map */