@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 23.76px;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

.l-header {
  background-color: #FFF8EF;
}

.l-main {
  background-color: red;
}

.l-sidebar {
  position: fixed;
  top: 0;
  right: -87.47%; /* 非表示 */
  width: 87.47%;
  height: 100%;
  background-color: #fff; /* サイドバーの背景色 */
  transition: right 0.3s ease-in-out; /* スライドイン/スライドアウトのアニメーション */
}

.l-sidebar.is-open {
  right: 0; /* スライドイン */
}

.l-footer {
  background-color: yellow;
}

.c-header__grid {
  grid-row: 1;
  grid-column: 1/3;
}
@media (min-width: 1025px) {
  .c-header__grid {
    grid-row: 1;
    grid-column: 1;
  }
}

.c-main__grid {
  grid-row: 2;
  grid-column: 1/3;
}
@media (min-width: 1025px) {
  .c-main__grid {
    grid-row: 2;
    grid-column: 1;
  }
}

.c-sidebar__grid {
  grid-row: 1/4;
  grid-column: 2;
}
@media (min-width: 1025px) {
  .c-sidebar__grid {
    grid-row: 1/3;
    grid-column: 2;
  }
}

.c-footer__grid {
  grid-row: 3;
  grid-column: 1/3;
}

.c-nav__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@media (min-width: 600px) {
  .c-nav__button {
    font-size: 3.4rem;
  }
}
@media (min-width: 1025px) {
  .c-nav__button {
    display: none;
  }
}

.c-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.c-reader-text {
  display: none;
}

.c-search-form__submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  background: #F2EDE9;
  border: 10px;
  color: #707070;
  font-size: 16px;
}

#p-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 215px 1fr 150px;
  grid-template-columns: 12.53% 87.47%;
}
@media (min-width: 600px) {
  #p-container {
    grid-template-rows: 217px 1fr 149px;
    grid-template-columns: 55.98% 44.02%;
  }
}
@media (min-width: 1025px) {
  #p-container {
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 80.99% 19.11%;
  }
}

.p-header__inner {
  display: flex;
  flex-direction: column; /* 要素を縦方向に配置 */
  align-items: center; /* 横方向に中央揃え */
  height: 215px;
}
@media (min-width: 600px) {
  .p-header__inner {
    height: 217px;
  }
}
@media (min-width: 1025px) {
  .p-header__inner {
    display: flex;
    flex-direction: row; /* 要素を横方向に配置 */
    justify-content: space-between; /* 左右端に寄せる */
    align-items: center; /* 縦方向に中央揃え */
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.5); /* 半透明のグレー */
  z-index: 999; /* 最前面に表示 */
}

.p-header__menu {
  align-self: flex-end;
  width: 51px;
  height: 23px;
  margin-top: 8px;
  margin-right: 8px;
}
@media (min-width: 600px) {
  .p-header__menu {
    margin-top: 20px;
    margin-right: 25px;
  }
}
@media (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}
.p-header__menu .c-nav__button {
  color: #707070;
  font-size: 2rem;
  width: 51px;
  height: 23px;
}
@media (min-width: 600px) {
  .p-header__menu {
    font-size: 3.4rem;
  }
}

.p-header__logo {
  font-size: 4rem;
  color: #707070;
  width: 203px;
  height: 47px;
  margin-top: 12px;
}
@media (min-width: 600px) {
  .p-header__logo {
    height: 53px;
    margin-top: -3px;
  }
}
@media (min-width: 1025px) {
  .p-header__logo {
    width: 325px;
    height: 84px;
    margin-top: 0;
    margin-left: 65px;
  }
}
.p-header__logo .c-logo {
  display: inline-block;
  width: 203px;
  line-height: 47px;
}
@media (min-width: 600px) {
  .p-header__logo .c-logo {
    padding: 3px 0;
  }
}
@media (min-width: 1025px) {
  .p-header__logo .c-logo {
    font-size: 6.4rem;
    width: 325px;
    line-height: 75px;
    padding: 4.5px 0;
  }
}

.p-search-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 600px) {
  .p-search-form {
    margin-top: 38px;
  }
}
@media (min-width: 1025px) {
  .p-search-form {
    margin-top: 0;
    margin-right: 31px;
  }
}

.p-search-box {
  position: relative;
}

.p-search-form__keyword {
  width: 216px;
  height: 46px;
  padding-left: 35px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #707070;
  margin-right: 16px;
}
@media (min-width: 600px) {
  .p-search-form__keyword {
    width: 396px;
    margin-right: 14px;
  }
}

.p-search-icon {
  position: absolute;
  top: 12px;
  left: 9px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=style.css.map */