@use "../../foundation/global" as *;

.c-button--gray {   //検索ボタン
    background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
    border: 1px solid $color--gray;
    border-radius: 10px;
}

.c-button--white {
    background-color: $color--white;
    border-radius: 25px;
}