@use "../../foundation/global" as *;

.c-nav__button {
    font-family: $font--Roboto;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 23px;
    width: 51px;
    @include breakpoint(tablet) {
        font-size: 3.4rem;
        line-height: 40px;
        width: 87px;
    }
    @include breakpoint(pc) {
        display: none;
    }

    &--gray {
        color: $color--gray;
    }
}