@use "../../foundation/global" as *;

.c-nav__button {
    font-family: $font--Roboto;
    font-weight: 700;
    @include breakpoint(pc) {
        display: none;
    }
    
    &--close {
        display: none;
        &.is-active {
            display: block;
        }
    }
}
