@use "../../foundation/global" as *;

/* フロントページ アクセス */
.p-access {     //最下層 マップ画像
    position: relative;
    background-color: $color--black;
    background-image: url(/images/map.jpg);
    width: 100%;

    &__overlay {    //範囲が変動する濃い色のオーバーレイ
        position: absolute;
        top: 0;
        left: 0;
        height: 60%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        @include breakpoint(tablet) {
            height: 100%;
        }
        @include breakpoint(pc) {
            width: 61%;
        }
    }

    &__inner {  //テキスト部分の上下余白調整
        min-height: 691px;
        padding: 42px 0 57px;
        @include breakpoint(tablet) {
            min-height: 415px;
            padding: 42px 0 40px;
        }
        @include breakpoint(pc) {
            min-height: 649px;
            padding: 86px 0 75px;
        }
    }

    &__title {
        position: relative;
        font-size: 3.0rem;
        line-height: 1.5;
        color: $color--white;
        margin-left:42px;
        @include breakpoint(pc) {
            font-size: 3.6rem;
            margin-left:119px;
        }
        &::after {      //タイトル下の下線
            content: "";
            display: block;
            width: 75px;    //下線の幅
            height: 2px;    //下線の高さ
            background-color: $color--white;    //下線の色
            position: absolute;
            bottom: -15px;
            @include breakpoint(pc) {
                bottom: -51px;
            }
        }
    }

    &__text {
        position: relative;
        font-size: 1.4rem;
        color: $color--white;
        line-height: 33px;
        margin: 29px 40px 0;
        @include breakpoint(tablet) {
            margin: 29px 29px 0 42px;
        }
        @include breakpoint(pc) {
            font-size: inherit;
            margin: 109px 134px 0 119px;
        }
    }

    .p-map__overlay {   //map画像全体にかかる薄い色のオーバーレイ
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
}