@use "../../foundation/global" as *;

/* シングル・ページページのアーティクル */
.p-article {    //アーティクル上下の余白調整
    padding: 34px 0 69px;
    @include breakpoint(tablet) {
        padding: 60px 0 149px;
    }
    @include breakpoint(pc) {
        padding: 63px 0 274px;
    }
    
    h2 {
        font-size: 2.8rem;
        @include breakpoint(tablet) {
            font-size: 3.6rem;
        }
    }

    h3 {
        font-size: 2.4rem;
        @include breakpoint(tablet) {
            font-size: 2.8rem;
        }
    }

    h4, h5, h6 {
        font-size: 2.0rem;
    }

    &__image {  //引用ブロック下の横長画像
        width: 100%;
        height: 33vw;
        max-height: 500px;
        object-fit: cover;
        object-position: center 80%;    //画像水平方向は中央、垂直方向はやや上方向に調整

        &--center {     //カードメニュー下センターポジションの画像
            width: 79.9%;
            height: 49.5vw;
            max-width: 581px;
            max-height: 358px;
            object-fit: cover;
            object-position: center bottom;
            display: block;
            margin: 30px auto;
            @include breakpoint(tablet) {
                margin: 60px auto;
            }
        }
    }

    &__list {   //ギャラリー下のリスト左側余白
        @include breakpoint(tablet) {
            margin-left: 50px;
        }
    }
    &__sublist {
        margin: 17px 18px;
    }

    &__codeBlock {  //コード表示部分の背景色、余白設定
        background-color: $color--highlight;
        padding: 50px 0 50px 50px;
        &__code {
            font-family: $font--MPLUS1;
        }
    }

    &__button {     //ページ下のグレーボタン
        width: 100%;
        height: 24.1vw;
        border-radius: 20px;
        @include breakpoint(tablet) {
            width: 60.1%;
            height: 14.5vw;
        }
        @include breakpoint(pc) {
            width: 31.7%;
            height: 7.6vw;
        }
    }

    &__text {   //メイン部分一番下のテキスト
        @include breakpoint(tablet) {
            font-size: 2.4rem;
        }
    }
}
