@use "../../foundation/global" as *;

/* アーカイブ メニューカード */
.p-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color--card-bg;
    @include breakpoint(tablet) {
        flex-direction: row;
    }

    &__menu {
        margin-top: 19px;
        @include breakpoint(tablet) {
            margin-top: 37px;
        }
        @include breakpoint(pc) {
            margin-top: 70px;
        }
    }

    &__menuList:not(:last-child) {
        margin-bottom: 21px;
        @include breakpoint(pc) {
            margin-bottom: 30px;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        @include breakpoint(tablet) {
            width: 50%;
            object-position: 50% center;
        }
    }

    &__content {
        color: $color--white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 32.5px 17px 43.7px;
        @include breakpoint(tablet) {
            gap: clamp(30px, 2.5vw, 60px);
            padding: 31px 59px 40px 34.7px;
        }
        @include breakpoint(pc) {
            padding: clamp(31px, 1.5vw, 56px) clamp(59px, 1.5vw, 104px) clamp(40px, 1.5vw, 60px) clamp(34.7px, 1.5vw, 63px);
        }
    }

    &__title {
        font-size: 2.0rem;
        @include breakpoint(tablet) {
            font-size: clamp(1.5rem, 2.3vw, 2.0rem);
        }
        @include breakpoint(pc) {
            font-size: 20px;
            line-height: 1.48;
        }
        @include breakpoint(pc2) {
            font-size: 3.6rem;
        }
    }

    &__title-sub {
        margin-top: 21px;
        @include breakpoint(tablet) {
            font-size: clamp(1.2rem, 2vw, 2.4rem);
        }
        @include breakpoint(pc) {
            font-size: 1.6rem;
            margin-top: 44px;
        }
        @include breakpoint(pc2) {
            font-size: 2.4rem;
        }
    }

    &__text {
        margin-top: 7px;
        @include breakpoint(tablet) {
            font-size: clamp(1.2rem, 2vw, 1.6rem);
            display: -webkit-box;
            -webkit-line-clamp: 3;  //テキストを3行に制限
            -webkit-box-orient: vertical;
            overflow: hidden;       //3行以降は隠す
        }
        @include breakpoint(pc) {
            margin-top: 13px;
        }
    }

    &__button {
        display: inline-block;
        color: $color--gray;
        line-height: 1;
        padding: 13px 42px;
        @include breakpoint(tablet) {
            font-size: clamp(1.2rem, 2vw, 1.6rem);
        }
        @include breakpoint(pc) {
            padding: 22px 19%;
        }
    }
}