@use "../../foundation/global" as *;

/* サイト全体のフレームレイアウト */
.p-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 215px 1fr 150px;
    grid-template-columns: 13% 87%;
    @include breakpoint(tablet) {
        grid-template-rows: 217px 1fr 149px;
        grid-template-columns: 56% 44%;
    }
    @include breakpoint(pc) {
        grid-template-rows: 217px 1fr 150px;
        grid-template-columns: 80% 20%;
    }
}