@use "../../foundation/global" as *;

/* フッターの背景色 */
.p-footer {
    background-image: url(../../images/footer.png);

/* フッターナビ */
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 27px;
        @include breakpoint(tablet) {
            height: 30px;
        }
    }

    &__navList {
        font-size: 1.8rem;
        color: $color--white;
        padding: 0 7px;
        @include breakpoint(tablet) {
            font-size: 2.0rem;
        }
        &:last-child {
            border-left: 2px solid $color--white;
        }
    }

    &__copy {
        font-size: 1.4rem;
        color: $color--white;
        height: 21px;
        margin-top: 70px;
        @include breakpoint(tablet) {
            margin-top: 44px;
        }
        @include breakpoint(pc) {
            margin-top: 31px;
        }
    }
}