@use "../../foundation/global" as *;

/* シングル・ページページのギャラリー */
.p-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include breakpoint(pc) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__image {
        width: 100%;
        height: 61.2vw;
        object-fit: cover;
        object-position: center bottom;
        @include breakpoint(tablet) {
            width: 100%;
            height: auto;
        }
    }
}
