@use "../../foundation/global" as *;

/* アーカイブページ イントロダクション */
.p-introduction__title {
    font-size: 2.8rem;
    margin-bottom: 25px;
    @include breakpoint(tablet) {
        font-size: 3.6rem;
        margin-bottom: 20px;
    }
}
