@use "../../foundation/global" as *;

/* ヘッダーの背景色 */
.p-header {
    background-color: $color--header;

    &__menu {   // tablet・スマホ画面ヘッダー内メニューボタン
        color: $color--gray;
        font-size: 2.0rem;
        width: 51px;
        line-height: 1.15;
        position: absolute;
        top: 8px;
        right: 22px;
        @include breakpoint(tablet) {
            font-size: 3.4rem;
            width: 87px;
            line-height: 1.17;
            position: absolute;
            top: 20px;
            right: 35px;
        }
        @include breakpoint(pc) {
            display: none;
        }
    }

    &__logo {   // サイトロゴ
        font-size: 4.0rem;
        color: $color--gray;
        width: 203px;
        line-height: 1.17;
        @include breakpoint(tablet) {
            padding: 3px 0;
        }
        @include breakpoint(pc) {
            font-size: 6.4rem;
            width: 325px;
            margin-left: 65px;
            padding: 4.5px 0;
        }
    }
}
