@use "../../foundation/global" as *;

/* サイドバー */
.p-sidebar {
    background: $color--sidebar;
    color: $color--gray;

    &__closeButton {     //サイドバー右上の×ボタン
        width: 32px;
        height: 36px;
        position: absolute;
        top: 8px;
        right: 11px;
        @include breakpoint(tablet) {
            height: 37px;
            top: 20px;
            right: 25px;
        }
        @include breakpoint(pc) {
            display: none;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;     // 棒の幅（太さ）
            height: 36px;   // 棒の高さ
            background: $color--gray;
            @include breakpoint(tablet) {
                height: 37px;
            }
        }

        &::before {
            transform: translate(-50%,-50%) rotate(45.25deg);
        }
        &::after {
            transform: translate(-50%,-50%) rotate(-45.25deg);
        }

        >span {
            font-size: 0;
        }
    }

    &__menu {   //pc画面サイドバーの見出し'Menu'
        display: none;
        font-size: 3.4rem;
        line-height: 1.17;
        @include breakpoint(pc) {
            display: block;
        }
    }
}

.p-menu { 
    @include breakpoint(pc) {   //pc画面サイドバーの見出しとメニュータイトル間の余白
        margin-top: 90px;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 1.5;
            @include breakpoint(pc) {
                font-size: clamp(2.0rem, 1.5vw, 2.4rem);    //サイドバーのサイズに合わせて文字サイズを可変
            }
        &:not(:first-child) {
            margin-top: 60px;   //メニュータイトル'サイド'以降のタイトル上の余白
            @include breakpoint(tablet) {
                margin-top: 48px;
            }

        }
    }

    &__item {
        margin: 40px 0 0 20px;
        @include breakpoint(tablet) {
            margin: 32px 0 0 20px;
        }
        @include breakpoint(pc) {
            margin: clamp(30px, 2vw, 32px) 0 0 6.2%;    //メニュータイトルとアイテム間の余白、アイテム左側の余白を可変
        }
    }

    &__list {
        font-size: 2.0rem;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: clamp(18px, 1.05vw, 20px);   //メニューリスト間の余白を可変
        @include breakpoint(pc) {
            font-size: clamp(1.4rem, 1.2vw, 2.0rem);    //サイドバーのサイズに合わせて文字サイズを可変
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
