@use "../../foundation/global" as *;

/* ページネーション */
.p-pagenation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 32px;
    color: $color--gray;
    @include breakpoint(tablet) {
        height: 35px;
        justify-content: space-around;
    }
    @include breakpoint(tablet2) {
        justify-content: center;
        gap: 15px;
        margin: 0 0 64px;
    }

    &__pcList {
        display: none;
        @include breakpoint(tablet) {
            display: inline-block;
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        top: 0;
        height: 35px;
        @include breakpoint(tablet) {
            font-size: 0;
            width: 18px;
            top: -10px;
            margin: 0 5px;
        }

        &::before,
        &::after {
            content: "";
            border-top: solid 1px $color--gray;
            border-left: solid 1px $color--gray;
            display: inline-block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 5px;
            @include breakpoint(tablet) {
                top: 10px;
            }
        }

        &.-pre {
            &::before,
            &::after {
                transform: rotate(-45deg);
            }
            &::before {
                left: -30px;
                @include breakpoint(tablet) {
                    left: 0;
                }
            }
            &::after {
                left: -20px;
                @include breakpoint(tablet) {
                    left: 10px;
                }
            }
        }

        &.-next {
            &::before,
            &::after {
                transform: rotate(135deg);
            }
            &::before {
                right: -30px;
                @include breakpoint(tablet) {
                    right: 0px;
                }
            }
            &::after {
                right: -20px;
                @include breakpoint(tablet) {
                    right: 10px;
                }
            }
        }
    }
}




