@use "../../foundation/global" as *;

/* 引用ブロックのスタイリング */
.p-quote {  
    background-color: $color--highlight;
    padding: 30px 18px;
    @include breakpoint(tablet) {
        padding: 50px 60px;
    }

    &__cite {
        .c-link {
            color: $color--blue;
        }
    }
}