@use "../../foundation/global" as *;

.p-searchForm {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include breakpoint(tablet) {
        margin-top: 38px;
    }
    @include breakpoint(pc) {
        margin-top: 0;
        margin-right: 31px;
    }

    &__submit {
        width:90px;
        height: 46px;
        color: $color--gray;
        font-size: 16px;
        font-weight: 700;
    }
}

