@use "../../foundation/global" as *;

.p-sidebar__button {
    position: relative;
    
    .c-nav__close {
        position: absolute;
        top: 8px;
        right: 11px;
        width: 32px;
        height: 36px;
        @include breakpoint(tablet) {
            top: 20px;
            right: 25px;
            height: 37px;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px; /* 棒の幅（太さ） */
            height: 36px; /* 棒の高さ */
            background: $color--gray;
            @include breakpoint(tablet) {
                height: 37px;
            }
        }
        &::before {
            transform: translate(-50%,-50%) rotate(45.25deg);
        }
        &::after {
            transform: translate(-50%,-50%) rotate(-45.25deg);
        }
    }
}