@use "../foundation/global" as *;

/* メインのレイアウト */
.l-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-main--single {
    @extend .l-main;
    justify-content: flex-start;
}
